/*  typical device breakpoints
------------------------------------
Mobile devices – 320px até 480px.
iPads, Tablets – 481px até 768px.
Small screens, laptops – 769px até 1024px.
Desktops, large screens – 1025px até 1200px.
Extra large screens, TV – 1201px, and more.
 */


/* celular */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .bnt-contact {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        margin-left: 15%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 1rem;
        padding-left: 13%;
    }

    .mobile-menu .nav-item {
        display: block;
    }

    .mobile-menu .bnt-contact {
        display: block;
        padding: 1rem 2rem;
    }



    .mobile-menu .bnt-contact a {
        width: 20%;
        margin-left: 25%;
    }

    .open {
        display: block;
    }

    .projetos__two {
        display: none;
    }

}

/* tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {

    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: block;
    }

    .bnt-contact a {
        display: block;
        padding: 1em 0.5em;
    }

    .mobile-menu-icon {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .apresentacao {
        padding: 1em 1em 1em 0;
    }

    .apresentacao__imagem {
        width: 100%;
        margin-left: 15%;
    }

    .projetos {
        display: flex;
        flex-direction: row;
        gap: 5%;
    }

    .projetos__two {
        display: none;
    }

    .descricao__texto {
        padding: 5% 0;
    }



    .rodape {
        width: 105%;
    }
}

/* laptop */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    .nav-link:hover {
        color: var(--cor-terciaria);
    }

    .elipses__img:hover {

        filter: invert(57%) sepia(34%) saturate(5955%) hue-rotate(345deg) brightness(101%) contrast(101%);

    }

    .apresentacao {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .apresentacao__left {
        width: 50%;
        text-align: center;
        padding: 1.75em 0;
    }

    .apresentacao__rigth {
        width: 50%;
        padding: 1em 0;
    }

    .projetos {
        height: 50vh;
        display: flex;
        justify-content: center;
        gap: 5%;
        margin-top: 2em;
    }

    .projetos__two {
        height: 50vh;
        display: flex;
        justify-content: center;
        gap: 5%;
    }


    .conteudo__botao:hover {
        background-color: var(--cor-terciaria);
    }

    .rodape__imagem:hover {
        filter: invert(57%) sepia(34%) saturate(5955%) hue-rotate(345deg) brightness(101%) contrast(101%);
    }

    .rodape__links___link:hover {
        color: var(--cor-terciaria);
    }
}

/* desktop */
@media screen and (min-width: 1025px) and (max-width: 1200px) {

    .nav-link:hover {
        color: var(--cor-terciaria);
    }

    .elipses__img:hover {

        filter: invert(57%) sepia(34%) saturate(5955%) hue-rotate(345deg) brightness(101%) contrast(101%);

    }

    .apresentacao {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .apresentacao__left {
        width: 50%;
        text-align: center;
        padding: 1.75em 0;
    }

    .apresentacao__rigth {
        width: 50%;
        padding: 1em 0;
    }

    .projetos {
        height: 50vh;
        display: flex;
        justify-content: center;
        gap: 5%;
        margin-top: 2em;
    }

    .projetos__two {
        height: 50vh;
        display: flex;
        justify-content: center;
        gap: 5%;
    }

    .projetos__conteudo {}

    .conteudo__titulo {
        font-size: 25px;

    }

    .conteudo__imagem {

        width: 200px;
        height: 200px;
    }

    .conteudo__botao {
        margin: 2em 0;
        width: 125px;
        height: 50px;
    }

    .conteudo__botao:hover {
        background-color: var(--cor-terciaria);
    }

    .rodape__imagem:hover {
        filter: invert(57%) sepia(34%) saturate(5955%) hue-rotate(345deg) brightness(101%) contrast(101%);
    }

    .rodape__links___link:hover {
        color: var(--cor-terciaria);
    }
}

@media screen and (min-width: 1201px) {

    .nav-link:hover {
        color: var(--cor-terciaria);
    }

    .elipses__img:hover {

        filter: invert(57%) sepia(34%) saturate(5955%) hue-rotate(345deg) brightness(101%) contrast(101%);

    }

    .apresentacao {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .apresentacao__left {
        width: 50%;
        text-align: center;
        padding: 1.75em 0;
    }

    .apresentacao__rigth {
        width: 50%;
        padding: 1em 0;
    }

    .projetos {
        height: 50vh;
        display: flex;
        justify-content: center;
        gap: 5%;
        margin-top: 2em;
    }

    .projetos__two {
        height: 50vh;
        display: flex;
        justify-content: center;
        gap: 5%;
    }

    .projetos__conteudo {}

    .conteudo__titulo {
        font-size: 25px;

    }

    .conteudo__imagem {

        width: 400px;
        height: 400px;
    }

    .conteudo__botao {
        margin: 2em 0;
        width: 250px;
        height: 80px;
    }

    .conteudo__botao:hover {
        background-color: var(--cor-terciaria);
    }

    .rodape__imagem:hover {
        filter: invert(57%) sepia(34%) saturate(5955%) hue-rotate(345deg) brightness(101%) contrast(101%);
    }

    .rodape__links___link:hover {
        color: var(--cor-terciaria);
    }
}