:root{
    --cor-pricipal: #170550;
    --cor-secundaria: #31065A;
    --cor-terciaria: #FF6C22;  /*Cor destaque */
    --branco: #fff;
    --fonte:'Exo 2', sans-serif;
}

body{
    font-family: var(--fonte);
    font-size: 18px;
    background-color: var(--cor-secundaria);
}


.cabecalho{
    text-align: center;
}

.container{
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    background-color: var(--cor-secundaria);
}

.cabecalho_menu{
   
}

.cabecalho__lista{
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 1em;
}

.lista__item{
    
}

.item__link{
    color: var(--branco);
    text-decoration: none;
    list-style: none;
    font-weight: 400;
}

#item__sobre{
}

.link-button{
    background-color: var(--cor-terciaria);
    color: var(--branco);
    width: 5em;
    height: 1em;
    font-weight: 600;
    border-radius: 20px;
    text-decoration: none;
    list-style: none;
    margin: 0 0 0 4em;
    padding: 5px;
}

/* primeira section */

.apresentacao{
    background-color: var(--cor-pricipal);
}

.apresentacao__left{
    padding: 1em 0 1em 1em;
}

#mensagem{
    font-weight: 600;
    font-size: 22px;
    color: var(--cor-terciaria);
}

.apresentacao__titulo{
    color: var(--branco);
    font-weight: 400;
    font-size: 16px;
}

#developer{
    color: var(--cor-terciaria);
    font-weight: 800;
    font-size: 16px;
}

.apresentacao__texto{
    font-weight: 400;
    font-size: 16px;
    color:var(--branco);
}

#JavaScript{
    font-weight: 600;
    font-size: 18px;
    color: var(--cor-terciaria);
}

.apresentacao__imagem__profile{
    width: 100px;
    height: 100px;
    border-radius: 200px;
    margin: 0 0 0 3em;
}

.elipses{
    margin: 1em 0 0 1.5em;
}

#github
{
    margin: 0 1.5em 0 1.5em;
}

/* sessão de projetos */

.portifolio{
    padding: 2em;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--cor-secundaria)
}

.portifolio__titulo{
    font-weight: 800;
    font-size: 25px;
    color: var(--cor-terciaria);
    height: 0;
    text-align: center;
    padding: 1em 0 0 0;
}

hr{
    width: 35%;
    margin-top: 1.5em;
}

.projetos{
    text-align: center;
}

.projetos__conteudo{
    padding: 1em 0;
}

.conteudo__titulo{
    font-weight: 600;
    font-size: 16px;
    padding: 0.5em 0;
    color: var(--branco);
}

.conteudo__imagem{
    width: 150px;
    height: 87px;
}

.botoes{
    text-align: center;
}

.conteudo__botao{
    margin: 5.1em 0;
    background-color: transparent;
    border: none;
}

.botao__link{
    color:var(--branco);
    text-decoration: none;
    font-weight: 600;
}

.box__arrow{
    padding-right: 1em;
    filter: invert(47%) sepia(89%) saturate(1367%) hue-rotate(343deg) brightness(99%) contrast(104%);
}

/* sessão informe */

.informe{
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-pricipal);
    color: var(--branco);
    padding: 1em 0 1em 0;
}

.informe__relacao{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.informe__titulo{
    color: var(--cor-terciaria);
    font-size: 20px;
    font-weight: 600;
}

.informe__texto{
    font-weight: 400;
    font-size: 16px;
}

/* section about */

.about {

}

.about__titulo{
    font-weight: 800;
    font-size: 25px;
    color: var(--branco);
    height: 0;
    text-align: center;
    padding: 1em 0 0 0;
}

.about__destaque{
    font-weight: 800;
    font-size: 25px;
    color: var(--cor-terciaria);
}

.descricao{
    text-align: center;
}

.descricao__texto{
    color: var(--branco);
    font-weight: 600;
    font-size: 16px;
    padding: 1em;
}

.descricao__titulo{
    color: var(--cor-terciaria);
    font-weight: 600;
    font-size: 16px;
    margin-top: -3.5em;
}