:root {
    --cor-principal: #242f49;
    --cor-secundaria: #384358;
    --cor-terciaria: #651a2b;
    --cor-quaternaria:#10182a;
    --cor-quinternaria: #3e0713;
    --cor-destaque: #ffa586;/*Cor destaque */
    --branco: #fff;
    --preto: #000;
    --filter: invert(66%) sepia(32%) saturate(720%) hue-rotate(323deg) brightness(107%) contrast(101%);
    --fonte: 'Exo 2', sans-serif;
}

body {
    font-family: var(--fonte);
    font-size: 18px;
    background-color: var(--cor-secundaria);
}

.stacks{
    display: flex;
    align-items: center;
}

.left{
    width: 50%;
}

.left__imagem{
    width: 80%;
    
}