.conteudo__botao {
    background-color: transparent;
    border: 2px solid var(--cor-destaque);
    border-radius: 10px;
    padding: 0.5em;
    margin-bottom: 1em;
}

.botao__link {
    color: var(--branco);
    text-decoration: none;
    font-weight: 600;
    transition: all ease-in 0.5s;
}