
@media screen and (min-width: 1201px) {

    .nav-link:hover {
        color: var(--cor-destaque);
    }

    .elipses__img:hover {
        filter: var(--filter);
    }

    .apresentacao {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .apresentacao__left {
        width: 50%;
        text-align: center;
        padding: 1.75em 0;
    }

    .apresentacao__titulo{
        padding-top: 1em;
        font-size: 30px;
    }

    #developer{
        font-size: 30px;
    }

    .apresentacao__rigth {
        width: 50%;
        padding: 1em 0;
    }

    .projetos {
        height: 50vh;
        display: flex;
        justify-content: center;
        gap: 5%;
        margin-top: 2em;
    }

    .projetos__two {
        height: 50vh;
        display: flex;
        justify-content: center;
        gap: 5%;
    }

    .projetos__conteudo {}

    .conteudo__titulo {
        font-size: 25px;

    }

    .conteudo__imagem {

        width: 400px;
        height: 400px;
    }

    .conteudo__botao {
        margin: 2em 0;
        width: 250px;
        height: 80px;
    }

    .conteudo__botao:hover {
        background-color: var(--cor-destaque);
    }

    #contact{
        background-color: var(--cor-quaternaria);
        height: 100%;
        margin: 0;
    }

    .descricao__texto{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        padding: 1em 0;
    }

    .formulario__input {
        background-color: var(--cor-principal);
    }

    .contact__button{
        height: 1.75rem;
    }

    .left__imagem{
        width: 500px;
    }

    .rigth{
        display: flex;
    }
    
    .right__tec{
        display: flex;
        text-align: center;
        gap: 3%;
    }

    .right__itens{
        display: flex;
        flex-direction: column;
    }

    .right__imagem{
        width: 200px;
    }
    
    .right__link{
        text-decoration: none;
        color: var(--branco);
    }

    .rodape__imagem:hover {
        filter: var(--filter);
    }

    .rodape__links___link:hover {
        color: var(--cor-destaque);
    }
}