/* tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {

    html{
        width: 102.5%;
    }

    .cabecalho {
        width: 102.5%;
    }

    .nav-bar {
        padding: 1rem 1rem;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .nav-item {
        display: block;
    }

    .bnt-contact a {
        display: block;
        padding: 1em 1em;
    }

    .mobile-menu-icon {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .apresentacao {
        width: 100%;
        padding: 1em 1em 1em 0;
    }

    .apresentacao__titulo {
        padding-top: 1em;
        font-size: 30px;
    }

    #developer {
        font-size: 30px;
    }


    .apresentacao__imagem__profile {
        margin-top: 1em;

    }


    .projetos {
        display: flex;
        flex-direction: column;
        gap: 5%;
    }

    .projetos__two {
        display: none;
    }

    .descricao__texto {
        display: flex;
        flex-direction: column;
    }

    .informe{
        width: 102.5%;
    }

    .rigth{
        display: flex;
    }
    
    .right__tec{
        display: flex;
        text-align: center;
        gap: 3%;
    }

    .right__itens{
        display: flex;
        flex-direction: column;
    }

    .right__imagem{
        width: 100px;
    }
    
    .right__link{
        text-decoration: none;
        color: var(--branco);
    }
    

}

